extends ../layouts/default

block title
  title MSP Demo

block body

  <!-- Add your site or application content here -->

  iframe(
    id="msp-iframe",
    name="msp-iframe",
    title="MovieStarPlanet",
    frameborder="0",
    scrolling="no",
    src="http://www.moviestarplanet.com/",
  )
